---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import type { MarkdownInstance } from "astro";
const pageTitle = "tags";

interface Prop {
    tags?: string[];
}
export type Post = MarkdownInstance<Prop>;
export const allPosts = (await Astro.glob("../posts/*.md")) as Post[];
export const tags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags || []).flat()),
];
---

<BaseLayout pageTitle={pageTitle}>
    <Header href="/tags" />
    <div class="m-auto max-w-xl">
        <div class="flex content-start flex-col">
            <h1 class="text-5xl mb-8">TAG:</h1>
            {
                tags.map((tag) => (
                    <p class=" hover:text-blue-700 text-xl">
                        <a href={`/tags/${tag}`}>{tag}</a>
                    </p>
                ))
            }
        </div>
    </div>
</BaseLayout>
