---
import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const identity = {
    firstName: "hao",
    country: "China",
};
---

<BaseLayout>
    <Header href="/about" />
    <div class="max-w-xl m-auto">
        <p class="text-2xl mb-5">以下是关于我的几个事实：</p>
        <ul>
            <li>我的名字是{identity.firstName}.</li>
            <li>我住在{identity.country}。</li>
        </ul>
    </div>
</BaseLayout>
