---
import "../styles/global.css";
import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Greeting from "@components/Greeting";
---

<BaseLayout pageTitle="首页">
    <div
        class="bg-cover bg-center h-[100vh]"
        style="background-image: url('/sun.jpg');"
    >
        <Header href="/" />
        <div class="flex flex-col items-center justify-center h-[90vh]">
            <h1 class="text-3xl font-bold">This is Home</h1>
            <Greeting
                client:load
                messages={["Hi", "Hello", "Howdy", "Hey there"]}
            />
        </div>
    </div>
</BaseLayout>
