---
import Navigation from "@components/Navigation.astro";
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="首页">
    <Navigation href="/" />
    <div
        class="bg-cover bg-center min-h-[95vh] flex justify-center items-center"
        style="background-image: url('/sun.jpg');"
    >
        <h1 class="text-3xl font-bold">This is Home</h1>
    </div>
</BaseLayout>
