---
import ThemeIcon from "./ThemeIcon.astro";
const { href } = Astro.props;
interface Page {
    href: Route;
    content: string;
}
enum Route {
    Home = "/",
    About = "/about",
    Blog = "/blog",
    Tags = "/tags",
}
const pages: Page[] = [
    { href: Route.Home, content: "首页" },
    {
        href: Route.About,
        content: "关于",
    },
    {
        href: Route.Blog,
        content: "博客",
    },
    {
        href: Route.Tags,
        content: "标签",
    },
];

const style =
    "shrink-0 border-b-2 border-transparent px-1 pt-1 pb-2 min-h-[5vh] text-base font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700";
const current_style =
    "shrink-0 border-b-2 border-sky-500 px-1 pt-1 pb-2 min-h-[5vh] text-base font-bold text-sky-600";
---

<div>
    <div class="sm:hidden">
        <label for="Tab" class="sr-only">Tab</label>

        <select
            id="Tab"
            onchange="location = this.value"
            class="w-full rounded-md border-gray-800 border-2"
        >
            {
                pages.map((page) => (
                    <option value={page.href} selected={href == page.href}>
                        {page.content}
                    </option>
                ))
            }
        </select>
    </div>

    <div class="hidden sm:block">
        <div class="flex justify-center border-b border-gray-200">
            <nav class="-mb-px flex gap-6" aria-label="Tabs">
                {
                    pages.map((page) => (
                        <a
                            href={page.href}
                            class={href == page.href ? current_style : style}
                        >
                            {page.content}
                        </a>
                    ))
                }
                <ThemeIcon />
            </nav>
        </div>
    </div>
</div>
